* {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#top {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 143, 112);
    background: url('imgs/bg-pattern-intro-mobile.svg') no-repeat 35% -260px, linear-gradient(110deg, rgba(255, 143, 112, 1) 0%, rgba(255, 61, 84, 1) 89%);
    border-bottom-left-radius: 5rem;
    position: relative;
    overflow: hidden;

    z-index: 0;




}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    z-index: 500;
    width: 100%;
    max-width: 1110px;
}

#logo {
    width: 81px;
}


.hero-holder {
    display: flex;
    flex-direction: column;
    padding: 0rem 1.5rem;
    width: 100%;
    align-items: center;
    z-index: 1;


}


.top-words {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    z-index: 500;


}


h1 {
    font-size: 36px;
    line-height: 55px;
    /* padding: 0rem 1.5rem; */


}

.top-words p {
    font-size: 18px;
    /* padding: 0rem 1.2rem; */
    line-height: 28px;

}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 9rem;
    z-index: 500;

}

.btn {
    font-size: 16px;
    font-weight: 700;
    border-radius: 2rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
    font-family: 'Ubuntu', sans-serif;

}

.btn-white {
    color: rgb(236, 88, 47);
    background-color: #fff;

}

.btn-clear {
    color: #fff;
    border: 1px solid #fff;
}

#large-option-section {
    display: none;
}

#small-option-section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#ham {
    display: block;
    cursor: pointer;
}

#large-account-access {
    display: none;
}

#mobile-menu {
    display: none;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 500;
    background-color: #fff;
    font-family: 'Overpass', sans-serif;
    width: 80%;

    border-radius: 1rem;
}



.small-drop-down {
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Overpass', sans-serif;
    display: flex;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.mini-option-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow {
    margin-left: 0.5rem;
    transition: transform .7s ease-in-out;
}

.mobile-login-signup {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.blue-thin {
    color: #1F3E5A;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.btn-orange {
    color: #fff;
    background: rgb(255, 143, 112);
    background: linear-gradient(90deg, rgba(255, 143, 112, 1) 0%, rgba(255, 61, 84, 1) 89%);
    padding: 1rem 2.5rem 1rem 2.5rem;
}


.drop-picked {
    transform: rotate(180deg);

}

#connect-menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 1rem;
    background-color: #979797;
    border-radius: 1rem;

}

#middle {
    margin-top: 7rem;

    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    color: #1F3E5A;
    font-size: 28px;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    line-height: 32px;

}

#two-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#two-parts2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.drawing-back {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.drawing-back2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.top-drawing {
    width: 90%;
}

.part1-words {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.word-headers {
    padding: 0rem 1rem 0rem 1rem;
    text-align: center;
    color: #1F3E5A;
    font-size: 28px;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    line-height: 32px;
}

.word-content {
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.top-drawing-big {
    display: none;

}

.top-drawing-big2 {
    display: none;
}

#part1 {
    padding: 0rem 1.5rem;
}

#part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D2E40;
    background-image: url('imgs/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -240px;
    margin-top: 15rem;
    border-top-right-radius: 7rem;
    border-bottom-left-radius: 7rem;
    text-align: center;
    padding: 0rem 1.5rem;
    position: relative;
    width: 100%;
}

.part2_items {
    position: relative;

}

#part3 {
    padding: 0rem 1.5rem;
}

#middle {
    display: flex;
    flex-direction: column;

}

.middle-head {
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: -1.2px;
    margin-top: 15rem;


}

.middle-words {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.white {
    color: #fff;
}

.phones {
    width: 100%;
    max-width: 450px;
}

.part2_items {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#phone-container {
    position: absolute;
    top: -8rem;
}

#end {
    background-color: #24242C;
    border-top-right-radius: 7rem;
    padding: 0rem 1.5rem;
}

#footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    margin-top: 4rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 4rem;
}

.link-title {
    margin-bottom: 2rem;
    font-weight: bold;
}

.link {
    margin-bottom: 1rem;
    color: #ffffff59;
}

.link-container {
    margin-bottom: 4rem;
}

.disappear {
    display: none;
}

.appear {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d2e4027;
    width: 276px;
    margin-top: 1rem;
    border-radius: 1rem;
}

.appear li {
    margin-top: 1rem;
    margin-bottom: 1rem;


}

.appear li a {
    text-decoration: none;
    font-weight: bold;
    color: #2D2E40;
}





@media screen and (min-width:410px) {
    .middle-head {
        margin-top: 12rem;
    }

    #phone-container {
        top: -15rem;
    }
}





@media screen and (min-width:768px) {
    .top-drawing {
        display: none;
        width: 100%;
    }

    .part1-words {
        display: flex;
        flex-direction: column;
        text-align: left;
        order: 10;
        width: 50%;


    }

    .drawing-back {
        order: 20;
        justify-content: right;
        position: absolute;
        left: 46rem;
        width: 50%;
    }

    .drawing-back2 {
        justify-content: left;
        position: absolute;
        left: -22rem;
        width: 50%;
    }

    .top-drawing-big {
        display: block;
        width: 700px;
    }

    #two-parts {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
        position: relative;

    }

    #two-parts2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3rem;
        justify-content: end;
        position: relative;
    }

    .word-headers {
        text-align: left;
        padding: 0rem;
    }

    #part1 {
        max-width: 1110px;
    }

    #part2 {
        margin-top: 8rem;
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 4rem;


        margin-bottom: 8rem;


    }

    #part3 {
        max-width: 1110px;
    }

    #end {
        display: flex;
        justify-content: center;
    }

    #footer-items {
        max-width: 1110px;
        width: 100%;
    }







    #middle {
        overflow: hidden;
        width: 100%;
        margin-top: 0rem;
        padding: 7rem 0rem 0rem 0rem;
        align-items: center;
    }



    .part2_items {
        position: relative;
        max-width: 1110px;
        flex-direction: row;
        align-items: center;
        justify-content: end;


    }

    #phone-container {
        position: absolute;
        top: -3rem;
        max-width: 430px;
        left: -30px;
        width: 50%;
        display: flex;
        order: -1;
    }

    .middle-context {
        width: 50%;
        order: 500;
        display: flex;
        flex-direction: column;
        order: 4;

    }

    .phones {
        width: 400px;
        max-width: none;



    }

    .middle-head {
        margin-top: 0rem;
        padding-top: 2rem;
    }

    .middle-words {
        margin-bottom: 0rem;
        padding-bottom: 2rem;
    }

    .top-drawing-big2 {
        display: block;
        width: 700px;
    }

    #footer-items {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;

    }

    .info-section {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 0rem;
        width: 100%;
        text-align: left;


    }


}




@media screen and (min-width:1024px) {
    h1 {
        font-size: 44px;
    }

    .middle-head {
        text-align: left;
    }

    .middle-words {
        text-align: left;
    }

    .phones {
        width: 500px;
    }

    .top-drawing-big2 {
        width: 820px;
    }


}


@media screen and (min-width:1300px) {
    #top {
        background: url('imgs/bg-pattern-intro-desktop.svg') no-repeat 30% center, linear-gradient(168deg, rgba(255, 143, 112, 1) 0%, rgba(255, 61, 84, 1) 89%);
    }

    #middle {
        padding: 12rem 0rem 0rem 0rem;
    }

    h1 {
        font-size: 64px;
        margin-bottom: 1.5rem;
    }

    .top-words p {
        font-size: 20px;


    }

    #logo {
        width: 101px;
    }

    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #large-option-section {
        display: flex;
        flex-direction: row;
        margin-left: 4rem;
    }

    #large-account-access {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    #desktop-login {
        margin-right: 2rem;
        font-family: 'Overpass', sans-serif;
        color: #fff;
    }


    .drop-down {
        margin-left: 2rem;
        margin-right: 2rem;
        color: #fff;
        font-family: 'Overpass', sans-serif;
        display: flex;
        align-items: center;

    }

    .drawing-back {

        left: 62rem;

    }

    .drawing-back2 {
        left: -29.5rem;
    }

    .top-drawing-big {

        width: 900px;
    }

    .top-drawing-big2 {
        width: 1000px;
    }



    h2 {
        font-size: 40px;
    }

    .phones {
        width: 700px;

    }

    #phone-container {
        top: -10rem;
    }

    .middle-context {
        position: relative;
        right: rem;
    }

    #part2 {
        margin-top: 18rem;
        background-position: -10rem -30rem;
    }

    #part3 {
        margin-top: 7rem;
        margin-bottom: 10rem;
    }






    #ham {
        display: none;
    }

    #mobile-menu {
        display: none !important;
    }

    .small-drop-down {
        margin-right: 2rem;
    }

    .absolutey {
        position: absolute;
        width: 168px;
        background-color: #fff;
        color: #1F3E5A;
        text-align: left;
        top: 1.5rem;
        z-index: 500;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 3px 14px -2px rgba(0, 0, 0, 0.18);
        box-shadow: 0px 10px 13px -7px #000000, 9px 3px 14px -2px rgba(0, 0, 0, 0.18);
    }

    #large-option-section {
        position: relative;
    }
}